<div class="h-screen flex flex-col">
  <form>
    <mat-form-field class="w-full">
      <input
        matInput
        placeholder="Enter a book title"
        [value]="searchService.searchText$ | async"
        (input)="onSearchInputChange($event)"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="searchService.submit()"
        (keyup.enter)="searchService.submit()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <mat-list role="list" class="flex-grow min-h-0 overflow-y-auto">
    <ng-container *ngIf="searchResults$ | async as results">
      <ng-container *ngIf="results.docs.length > 0; else noResults">
        <mat-list-item
          role="listitem"
          *ngFor="let result of results.docs; trackBy: trackByTitle"
        >
          <img
            matListItemAvatar
            [src]="
              'https://covers.openlibrary.org/b/olid/' +
              result.cover_edition_key +
              '-M.jpg'
            "
          />
          <div matListItemTitle>{{ result.title }}</div>
          <div matListItemLine>{{ result.author_name.join(", ") }}</div>
        </mat-list-item>
      </ng-container>
    </ng-container>
    <ng-template #noResults>
      <p class="text-center">No results found</p>
    </ng-template>
  </mat-list>
  <ng-container *ngIf="(searchResults$ | async)?.num_found">
    <mat-paginator
      class="border-0 border-t border-black border-solid"
      [length]="(searchResults$ | async)?.num_found ?? 0"
      [pageIndex]="searchService.pageIndex$ | async"
      [pageSize]="searchService.pageSize$ | async"
      (page)="onPageChange($event.pageIndex)"
      aria-label="Select page"
    />
  </ng-container>
</div>
